#counter{
    background-color: rgb(243, 238, 238);
    margin: 50px;
    border-radius: 10px;
    .counter_item{
        margin: 40px 0;
        padding: 20px;
        text-align: center;
        h2{
            font-size: 50px;
            font-weight: 900;
            line-height: 1;
            color: #1f1841;
        }
        p{
            color: #686777;
            font-size: 16px;
            font-weight: 600;
        }
    }
}