*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Frank Ruhl Libre', serif;
}
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "partial/variable";
@import "partial/mixin";
@import "pages/home";
@import "layout/footer";
@import "pages/home/features";
@import "pages/home/about";
@import "pages/home/capabilites";
@import "pages/home/service";
@import "pages/home/counter";
@import "pages/home/teamarea";
@import "pages/home/ctaarea";
@import "pages/home/pricearea";
@import "pages/home/brandarea";
@import "pages/home/loginarea";


